n8n-workflows/04-sc-weekly-report.json
{
  "name": "sc-weekly-report",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] }
      },
      "id": "cron-monday",
      "name": "Every Monday 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "filePath": "C:/Users/profs/Desktop/Sandbox/Clients"
      },
      "id": "list-clients",
      "name": "List Active Clients",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Replace with your client list source — Obsidian vault, clients.json, or manual input"
    },
    {
      "parameters": {
        "url": "=https://googleads.googleapis.com/v17/customers/{{ $json.google_ads_customer_id }}/googleAds:search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GOOGLE_ADS_TOKEN }}" },
            { "name": "developer-token", "value": "={{ $env.GOOGLE_ADS_DEVELOPER_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "query",
            "value": "SELECT campaign.name, metrics.impressions, metrics.clicks, metrics.cost_micros, metrics.conversions, metrics.conversions_value FROM campaign WHERE segments.date DURING LAST_7_DAYS ORDER BY metrics.cost_micros DESC"
          }]
        }
      },
      "id": "google-ads-pull",
      "name": "Google Ads API — Last 7 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "notes": "Requires GOOGLE_ADS_TOKEN and GOOGLE_ADS_DEVELOPER_TOKEN env vars in n8n"
    },
    {
      "parameters": {
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $json.ga4_property_id }}:runReport",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $env.GOOGLE_ADS_TOKEN }}" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "body",
            "value": "={ \"dateRanges\": [{ \"startDate\": \"7daysAgo\", \"endDate\": \"today\" }], \"metrics\": [{ \"name\": \"conversions\" }, { \"name\": \"totalRevenue\" }, { \"name\": \"sessions\" }], \"dimensions\": [{ \"name\": \"sessionSource\" }] }"
          }]
        }
      },
      "id": "ga4-pull",
      "name": "GA4 API — Conversion Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Severus Connects Reporting Agent. Generate a weekly performance report for a Google Ads client. Format: Executive Summary (2 sentences), Key Metrics Table (spend, clicks, conversions, ROAS, CPA), Top Performing Campaigns, What Worked This Week, What To Fix Next Week (3 specific actions), and a 1-paragraph narrative for the client. Be specific with numbers. Tone: confident, data-driven, plain English."
            },
            {
              "role": "user",
              "content": "=Google Ads data (last 7 days):\n{{ JSON.stringify($('Google Ads API — Last 7 Days').item.json, null, 2) }}\n\nGA4 conversion data:\n{{ JSON.stringify($('GA4 API — Conversion Data').item.json, null, 2) }}"
            }
          ]
        }
      },
      "id": "claude-report",
      "name": "Claude — Generate Report",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "filePath": "=C:/Users/profs/Desktop/Sandbox/Clients/{{ $json.client_name }}/reports/{{ $now.format('yyyy-MM-dd') }}-weekly.md",
        "fileContent": "=# Weekly Report — {{ $now.format('dd MMM yyyy') }}\n\n{{ $('Claude — Generate Report').item.json.content }}\n\n---\n*Auto-generated by Severus Connects reporting pipeline*"
      },
      "id": "save-report",
      "name": "Save Report to Obsidian",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📊 *Weekly Report Ready*\n\nReport saved to Obsidian Vault.\n\n{{ $('Claude — Generate Report').item.json.content.substring(0, 400) }}...",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-notify",
      "name": "Telegram — Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Every Monday 09:00": { "main": [[{ "node": "List Active Clients", "type": "main", "index": 0 }]] },
    "List Active Clients": {
      "main": [[
        { "node": "Google Ads API — Last 7 Days", "type": "main", "index": 0 },
        { "node": "GA4 API — Conversion Data", "type": "main", "index": 0 }
      ]]
    },
    "Google Ads API — Last 7 Days": { "main": [[{ "node": "Claude — Generate Report", "type": "main", "index": 0 }]] },
    "GA4 API — Conversion Data": { "main": [[{ "node": "Claude — Generate Report", "type": "main", "index": 0 }]] },
    "Claude — Generate Report": { "main": [[{ "node": "Save Report to Obsidian", "type": "main", "index": 0 }]] },
    "Save Report to Obsidian": { "main": [[{ "node": "Telegram — Notify", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Weekly report: Monday 09:00 → pull Google Ads + GA4 → Claude generates report → save to Obsidian → Telegram" }
}
